<div class="row center">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  	<div class="panel-heading">Past Gift Searches</div>
	  		<div class="col-xs-6 col-sm-4">
				{{!-- <h3>There are {{data.gifts.length}} matching gifts!</h3> --}}
	    		<table class="table">
	        		<thead>
	            		<tr>
	               			<th class="center">Recipient Name</th>
                            <th class="center">Product Name</th>
                   			<th class="center">Description</th>
             			</tr>
            		</thead>
            		<tbody id="pastSearchTable"></tbody>
            		{{#each data.gifts}}
	               	<tr>
                        <td>{{this.recipientName}}</td>
	                	<td>{{this.productName}}</td>
	                	<td>{{this.description}}</td>
	               	</tr>
                    {{else}}
	               	<tr>
                        <td>No Past Searches Found</td>
                        <td></td>
                        <td></td>
	               	</tr>
	               	{{/each}}
            		</tbody>
	    		</table>
	        </div>
	    </div>
	</div>
</div>